<nav class="navbar" aria-label="Main navigation">
  <div class="navbar__inner">
    <a href="{{ '/' | relative_url }}" class="navbar__brand" aria-label="{{ site.author.name }}">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="{{ site.author.name }}" class="navbar__logo">
    </a>
    <ul class="navbar__nav">
      {% assign pages_list = site.pages | where_exp: "p", "p.title != nil" | where_exp: "p", "p.weight != nil" | sort: "weight" %}
      {% for nav_page in pages_list %}
        {% unless site.nav_exclude contains nav_page.path %}
          <li>
            {% if nav_page.external_url %}
              <a href="{{ nav_page.external_url }}" class="navbar__link" target="_blank" rel="noopener">
                {{ nav_page.title }}
                <i class="fa-solid fa-arrow-up-right-from-square fa-fw" aria-hidden="true"></i>
              </a>
            {% else %}
              <a href="{{ nav_page.url | relative_url }}" class="navbar__link{% if page.url == nav_page.url %} active{% endif %}">
                {{ nav_page.title }}
              </a>
            {% endif %}
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</nav>
